#div-form {
    width: 400px;
    max-width: 100%;
    margin: auto;
    background: var(--div-fundo);
    color: var(--branca);
    padding: 25px;
    border-radius: var(--raio);
    box-shadow: var(--sombra);
}

#div-form h3 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--branca);
    font-size: 28px;
}

#formulario {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label {
    font-size: 18px;
    color: var(--branca);
}

input {
    height: 40px;
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    outline: none;
    background: var(--input-bg);
    color: var(--texto);
    font-size: 16px;
}

input:focus {
    border: 2px solid var(--cor);
}

#div-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
}

button {
    flex: 1;
    height: 40px;
    border: none;
    border-radius: 8px;
    color: var(--branca);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: .3s;
}

#btnAdd {
    background: var(--btnAdd);
    color: #000;
}

#btnAdd:hover {
    background: #00cc00;
    transform: scale(1.05);
}

#Limpar {
    background: var(--btnLimpa);
}

#Limpar:hover {
    background: #b30000;
    transform: scale(1.05);
}

#div-list {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.div-item {
    background: var(--branca);
    color: var(--texto);
    padding: 12px;
    border-radius: 8px;
    font-size: 18px;
    box-shadow: 0px 3px 8px rgba(0,0,0,.2);
    transition: .3s;
}

.div-item:hover {
    transform: translateX(5px);
    background: #f0f0f0;
}

@media(max-width:450px){
    #div-form {
        width: 100%;
    }

    #div-btns {
        flex-direction: column;
    }

    button {
        width: 100%;
    }

}